.container{
    padding-top: 0px;
}
#message{
    text-align: center;
}
.button{
    text-align: center;
}
.nav-wrapper{
    background-color: #2196F3;
}
body{
    background-color: #ECEFF1;
}
.myForm{
    
}
.myLabel{
	font-size: 1em;
	vertical-align: middle;
}
.header{
	font-size: 2em;
}
.center{
	text-align: center;
}
.colWidth{
	width: 150%;
}
.marginRight{
	margin-right: 2em;
}
.marginLeft{
	margin-left: 0.5em;
}

ul.dates li {
    position: relative;
    border-top: solid 1px #ddd;
    padding: 1.3em 0 1.3em 6.75em;
}

ul.dates .date {
    display: block;
    position: absolute;
    left: 0;
    top: 1.3em;
    background-color: #d52349;
    height: 3.5em;
    text-align: center;
    color: #fff;
    line-height: 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0.75em 0 1em;
}

ul.dates .date:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1.2em;
    border-left: solid 1.25em #d52349;
    border-top: solid 1.8em transparent;
    border-bottom: solid 1.8em transparent;
}

ul.dates .date strong {
    display: block;
    font-size: 1.75em;
    padding-top: 0.15em;
}



ul.dates p {
    margin: 0;
}

ul.dates li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.dates li:first-child .date {
    top: 0;
}